p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

img {
  border: 1px solid black;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 100%; 
  height: auto; 
}

# Q&A

.question {
    font-weight: bold;
}
.answer {
    margin-bottom: 10px;
}

