project:
  type: book
  output-dir: "../docs"
  render:
    - "*.qmd"
    - about/*.qmd
    - admin/*.qmd
    - appendices/*.qmd
    - background/*.qmd
    - ethics/*.qmd
    - for-affiliates/*.qmd
    - for-institutions/*.qmd
    - for-investigators/*.qmd
    - getting-authorized/*.qmd
    - managing-my-profile/*.qmd
    - sample-workflow/*.qmd
    - contributing-data/*.qmd
    - accessing-data/*.qmd
    - more-information/*.qmd
  
book:
  title: "Databrary Guide"
  cover-image: include/img/databrary-nav-sm.jpg
  subtitle: "Share data & materials: Discover more, faster."
  author: ["Rick Gilmore", "Andrea Seisler", "Kasey Soska", "Melody Xu", "Yinghe Liu", "Steph Win", "Anika Mahadevan"]
  date: last-modified
  chapters:
    - index.qmd # This is the file that contains the front matter, found in the root of the repository
    - part: about/about.qmd
      chapters:
        - about/history.qmd
        - about/why.qmd
    - part: ethics/ethics.qmd
      chapters: 
        - ethics/data-collection.qmd
        - ethics/data-reuse.qmd
        - ethics/data-sharing.qmd
        - ethics/guidelines.qmd
    - part: "Authorizing Institutions"
      chapters:
        - for-institutions/background.qmd
        - for-institutions/specifics.qmd
    - part: getting-authorized/start.qmd
      chapters:
        # - getting-authorized/institutions.qmd
        - getting-authorized/roles.qmd
        - getting-authorized/researchers.qmd
        - getting-authorized/students.qmd
    - part: managing-my-profile/start.qmd
      chapters: 
        - managing-my-profile/managing-my-sponsors.qmd
    - part: sample-workflow/start.qmd
      chapters: 
        - sample-workflow/new-project.qmd
        - sample-workflow/ongoing-project.qmd
        - sample-workflow/completed-project.qmd
    - part: contributing-data/start.qmd
      chapters:
       - contributing-data/create-a-volume.qmd
       - contributing-data/edit-a-volume.qmd
    - part: accessing-data/start.qmd
      chapters: 
        - accessing-data/downloading-files.qmd
    #- part: "Admin"
    #  chapters:
    #   - admin/flowcharts.qmd 
    #   - admin/grant-auth.qmd 
    #   - admin/security.qmd 
    # - part: how-to-use-volumes/start.qmd
    #  chapters:
    #   - how-to-use-volumes/create-a-volume.qmd
    #   - how-to-use-volumes/edit-a-volume.qmd
    # - part: how-to-use-files/start.qmd
    #  chapters:
    #   - how-to-use-files/create-a-file.qmd
    # - part: how-to-use-datasets/start.qmd
    #  chapters: 
    #    - how-to-use-datasets/curate-data.qmd
    - faq.qmd
    - glossary.qmd
       
    # - quick-start-2.0.qmd
    # - part: background/about.qmd
    #   chapters:
    #   - background/origins-support.qmd
    #   - background/who-why.qmd
    #   - background/ethics.qmd

    #   text: "For Institutions"
    # - part: "For Investigators"
    #   chapters: 
    #     - for-investigators/background.qmd
    #     - for-investigators/requesting-access.qmd
    #     - for-investigators/onboarding.qmd
    #     - for-investigators/managing-people.qmd
    #     - for-investigators/create-new-volume.qmd
    #     - for-investigators/edit-existing-volume.qmd
    #     # - for-investigators/data-sharing.qmd
    #     - for-investigators/reusing-data.qmd
    #     - for-investigators/best-practices.qmd
    # - part: "For Affiliates"
    #   chapters: 
    #   - for-affiliates/background.qmd  
    #   - for-affiliates/requesting-access-affiliates.qmd
    #   - for-affiliates/onboarding-affiliates.qmd
    #   - for-affiliates/creating-new-volume-affiliates.qmd
    #   - for-affiliates/edit-existing-volume-affiliates.qmd
    #   - for-affiliates/reusing-data-affiliates.qmd
    # - part: more-information/more-information.qmd
    #   chapters:
    #   - more-information/faq.qmd
    #   - more-information/popular-volumes.qmd
    #   - more-information/definitions.qmd
    #   - more-information/software.qmd
    #   - more-information/db-2.0.qmd
    #   - more-information/api-access.qmd
    # - more-information/references.qmd 
    
  appendices:
    - appendices/access_agreement.qmd
    - appendices/sharing-release-participants.qmd
    - appendices/sharing-release-staff.qmd
    - appendices/sharing-release-script.qmd
    - appendices/post-visit-release-email.qmd
    - appendices/irb-application-template.qmd
    - appendices/privacy_policy.qmd
    - appendices/terms.qmd
    - appendices/participant_info.qmd
    - appendices/grants.qmd
  repo-url: https://github.com/databrary/guide
  repo-actions: [edit, issue]
  repo-subdir: src
  
format:
  html:
    theme: cosmo
    number_sections: false
    css: include/css/style.css
    csl: include/bib/apa.csl
    citations-hover: true
    footnotes-hover: true
    toc: true
    toc-depth: 4

  # epub:
  #   cover-image: img/databrary-nav-sm.jpg

bibliography: [include/bib/packages.bib, include/bib/references.bib]
bibliography-style: apa
